<html>
    <head>
    {% block head %}
        <title>Gym Manager</title>
    {% endblock %}    

    <link rel="stylesheet" href="/styles.css"

    </head>
    <body>
    <header>
        <dvi class="links">
            <a href="/" >Instrutores</a>
            <a href="/" >Membros</a>
        </div>
    </header>
    
    </body>

</html>