@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
    --primary-color: #7159c1;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;

}

.links {
    font-size: 22px;

}

.links a + a {
    margin-left: 32px;
    
}


.links a {
    text-decoration: none;
    color: #777;
    position: relative;
}
.links a.active {
    font-weight: bold;
    color:var(--primary-color);

}

.links a:hover{
    color:var(--primary-color);
} 
.links a::afe {
    content: "";
    background-color: var(--primary-color);
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -4px;

}

.links a:hover:after{
    width: 100%;
    transition: width 400ms ease-in-out;
}